
.cardHeader {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
}

.cardContainer {
    background: #F5F5F5;
    border-radius: 16px;

    display: grid;
    grid-template-rows: max-content max-content max-content max-content;
    padding: 14px 25px;

    max-width: 412px;
    margin: 14px;
    grid-gap: 6px;

    position: relative;
}


.cardTitle {
    text-align: left;
    font-family: 'Mulish';
    font-weight: bold;
    font-size: 15px;
    line-height: 127%;
    letter-spacing: -0.01em;
    color: #003049;
}

.cardImage {
    cursor: pointer;
    margin: auto;
}

.cardFooter {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 14px;
}

.bestsellerTag {
    padding: 6px 9px;
    background: #A6DACB;
    text-transform: uppercase;
    color: #003049;

    font-size: 11px;
    font-family: 'Mulish';
    font-weight: bold;
}

.cardHover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    inset: 0px 0px 7px;
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgba(217, 235, 245, 0.73);
    /* opacity: 0; */
    transition: opacity 0.3s ease-in 0s;
    display: grid;
    grid-template-rows: max-content max-content;
    justify-content: start;
    /* z-index: -1; */

    text-align: left;
    padding: 34px;
    border-radius: 16px;
    background-image: linear-gradient(to right top, #77bfc5, #78bfc4, #79c0c2, #7bc0c1, #7cc0c0, #7ec0bf, #81c1be, #83c1bd, #87c2bb, #8ac3ba, #8ec4b8, #92c5b7);
}

.cardHoverTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 139%;
    color: #FFFFFF;
    margin-bottom: 34px;
}

.cardHoverButton{ 
    background: #FFFFFF;
    border-radius: 20px;
    padding: 34px 12px;
    background: #fff;
    padding: 12px 56px;
    width: max-content;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 150%;
    /* identical to box height, or 16px */

    letter-spacing: 0.04em;
    text-transform: uppercase;

    /* darl blue */

    color: #003049;

    cursor: pointer;
}

.secondaryButton {
    border: 0.5px solid #7C878D;
    border-radius: 20px;
    height: 18px;
    padding: 10px 20px;
    line-height: 17px;
}
