.ant-card {
    width: auto !important;
}

.ant-input,
.ant-select {
    border-radius: 20px;
    height: 40px;
}

div.ant-select-selector {
    border-radius: 20px !important;
    height: 40px !important;
}

.ant-select-selection-search-input {
    height: 40px !important;
}

.ant-select-selection-item {
    line-height: 40px !important;
}

.ant-form-item-row {
    display: grid;
    grid-template-rows: max-content max-content;
}

.ant-form-item-label {
    text-align: left !important;
    font-family: 'Mulish' !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 15px !important;
    line-height: 127% !important;
    /* identical to box height, or 19px */

    display: flex !important;
    align-items: center !important;
    letter-spacing: -0.01em !important;

    /* darl blue */

    color: #003049 !important;
}

.checkboxForm>.ant-form-item-row {
    display: grid !important;
    grid-template-columns: max-content max-content !important;
}

.shippingAddressCard>.ant-card-body {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 127%;
    /* identical to box height, or 19px */

    letter-spacing: -0.01em;

    /* darl blue */

    color: #003049;

    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    grid-gap: 20px;
    padding: 20px;
    padding-top: 0px;
    margin-top: -8px;
    margin-bottom: -12px;
}

.shippingAddressCard>.ant-card-head {
    border: none;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 127%;
    /* identical to box height, or 19px */

    letter-spacing: -0.01em;

    /* blue gray */

    color: #7C878D;
    padding: 20px;
    padding-bottom: 0px;
}

.shippingCollapse {
    background: #fff !important;
}

.shippingCollapse .ant-collapse-header {
    padding: 16px 22px !important;
    align-items: center !important;
}

.shippingCollapse .ant-collapse-content {
    border-top: 0px !important;
}

.ant-form {
    margin-bottom: -28px;
}

.ant-collapse,
.ant-collapse-item,
.ant-collapse-content {
    border-radius: 20px !important;
}

.ant-collapse-header-text {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 127%;
    letter-spacing: -0.01em;
    color: #003049;
}

.collapsePanel .ant-collapse-content {
    display: none !important;
}